<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://custom-components.github.io/hacs/developer/general/">
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>General - HACS</title>
        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="../../js/jquery-1.10.2.min.js" defer></script>
        <script src="../../js/bootstrap-3.0.3.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                <!-- Collapsed navigation -->
                <div class="navbar-header">
                    <!-- Expander button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../..">HACS</a>
                </div>

                <!-- Expanded navigation -->
                <div class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li >
                                <a href="../..">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Installation <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li >
    <a href="../../installation/manual/">Manual</a>
</li>
                                    
<li >
    <a href="../../installation/terminal/">Terminal</a>
</li>
                                    
<li >
    <a href="../../installation/configuration/">Configuration</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usage <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li >
    <a href="../../usage/overview/">Overview</a>
</li>
                                    
<li >
    <a href="../../usage/store/">Store</a>
</li>
                                    
<li >
    <a href="../../usage/settings/">Settings</a>
</li>
                                    
<li >
    <a href="../../usage/repository/">Repository</a>
</li>
                                    
<li >
    <a href="../../usage/gallery/">Gallery</a>
</li>
                                    
<li >
    <a href="../../usage/theming/">Theming</a>
</li>
                                    
<li >
    <a href="../../usage/appdaemon/">AppDaemon</a>
</li>
                                </ul>
                            </li>
                            <li >
                                <a href="../../faq/">FAQ</a>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developer? <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li class="active">
    <a href="./">General</a>
</li>
                                    
<li >
    <a href="../appdaemon/">AppDaemon developer</a>
</li>
                                    
<li >
    <a href="../integration/">Integration developer</a>
</li>
                                    
<li >
    <a href="../plugin/">Plugin developer</a>
</li>
                                    
<li >
    <a href="../python_script/">python_script developer</a>
</li>
                                    
<li >
    <a href="../theme/">Theme developer</a>
</li>
                                    
<li >
    <a href="../include_default_repositories/">Include default repositories</a>
</li>
                                    
<li >
    <a href="../blacklist_repository/">Blacklist a Repository</a>
</li>
                                </ul>
                            </li>
                            <li >
                                <a href="https://github.com/custom-components/hacs/issues">Issues</a>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav navbar-right">
                            <li >
                                <a rel="next" href="../../faq/">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li >
                                <a rel="prev" href="../appdaemon/">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/custom-components/hacs/edit/master/docs/developer/general.md"><i class="fa fa-github"></i> Edit on GitHub</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
                <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
        <li class="main active"><a href="#note-for-developers">Note for developers</a></li>
            <li><a href="#general-requirements">General requirements</a></li>
            <li><a href="#versions">Versions</a></li>
            <li><a href="#badges">Badges</a></li>
    </ul>
</div></div>
                <div class="col-md-9" role="main">

<h1 id="note-for-developers">Note for developers<a class="headerlink" href="#note-for-developers" title="Permanent link">&para;</a></h1>
<p>For your repository to be added there are a few criteria that need to be met.</p>
<ul>
<li><a href="#general-requirements">General requirements</a></li>
<li><a href="../integration">Integration requirements</a> for integrations.</li>
<li><a href="../plugin">Plugin requirements</a> for plugins.</li>
<li><a href="../plugin">AppDaemon requirements</a> for AppDaemon apps.</li>
<li><a href="../plugin">Python_scripts requirements</a> for python scripts.</li>
<li><a href="../plugin">Theme requirements</a> for themes.</li>
</ul>
<h2 id="general-requirements">General requirements<a class="headerlink" href="#general-requirements" title="Permanent link">&para;</a></h2>
<h3 id="description">Description<a class="headerlink" href="#description" title="Permanent link">&para;</a></h3>
<p>Your repository on GitHub needs to have a description that in short tell what the content in the repository do.</p>
<p>This description is also used in HACS.</p>
<h3 id="topics">Topics<a class="headerlink" href="#topics" title="Permanent link">&para;</a></h3>
<p>Your repository on GitHub needs to have topics, topics are not displayed in HACS, but they can be used for searchability in the HACS store.</p>
<h3 id="readme">README<a class="headerlink" href="#readme" title="Permanent link">&para;</a></h3>
<p>Your repository needs to have a readme with information about how to use it.
This is not used in HACS, but without this it's hard for the user to get started.</p>
<h3 id="infomd"><a href="#info.md">info.md</a><a class="headerlink" href="#infomd" title="Permanent link">&para;</a></h3>
<p>If you want to add a richer experience for your users you can add an <code>info.md</code> file to the root of your repository (this is optional, if you do not have this you need to set <a href="#hacs.json"><code>render_readme</code></a> in the <code>hacs.json</code> file), this file will be rendered under the repository description, it does not support the full styling options as Github so use with care.</p>
<p><a href="#templates">See the Templates section on how you can make this awesome</a></p>
<h3 id="hacsjson">hacs.json<a class="headerlink" href="#hacsjson" title="Permanent link">&para;</a></h3>
<p>This is a special manifest file that both give information to HACS that are used in the UI, and tell it what to use and where it is, this file needs to be located in the root of your repository.</p>
<p>The following keys are supported:</p>
<table>
<thead>
<tr>
<th>Key</th>
<th>Required</th>
<th>Description.</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>True</td>
<td>The display name that will be used in the HACS UI</td>
</tr>
<tr>
<td>content_in_root</td>
<td>False</td>
<td>Boolean to indicate that the content is in the root of the repository.</td>
</tr>
<tr>
<td>filename</td>
<td>False</td>
<td>Name of the file HACS should look for, only applies to single item categories (plugin, theme, python_scripts)</td>
</tr>
<tr>
<td>render_readme</td>
<td>False</td>
<td>Tells HACS to render the README.md file instead of info.md</td>
</tr>
<tr>
<td>domains</td>
<td>False</td>
<td>A list of domains, <code>["sensor", "switch"]</code></td>
</tr>
<tr>
<td>country</td>
<td>False</td>
<td>A2(ISO) variant of the country name <a href="https://www.worldatlas.com/aatlas/ctycodes.htm">https://www.worldatlas.com/aatlas/ctycodes.htm</a></td>
</tr>
<tr>
<td>homeassistant</td>
<td>False</td>
<td>The minimum required Home Assistant version</td>
</tr>
<tr>
<td>persistent_directory</td>
<td>False</td>
<td>This will only apply to integrations, a relative path (under the integration dir) that will be kept safe during upgrades.</td>
</tr>
<tr>
<td>iot_class</td>
<td>For integrations</td>
<td>The type of communication with the service/device</td>
</tr>
</tbody>
</table>
<p><strong>examples:</strong></p>
<pre><code class="json">{
  &quot;name&quot;: &quot;My awesome thing&quot;,
  &quot;content_in_root&quot;: true,
  &quot;filename&quot;: &quot;my_super_awesome_thing.js&quot;,
  &quot;country&quot;: [&quot;NO&quot;, &quot;SE&quot;, &quot;DK&quot;]
}
</code></pre>

<pre><code class="json">{
  &quot;name&quot;: &quot;My awesome thing&quot;,
  &quot;country&quot;: &quot;NO&quot;,
  &quot;domains&quot;: [&quot;media_player&quot;, &quot;sensor&quot;],
  &quot;homeassistant&quot;: &quot;0.99.9&quot;,
  &quot;persistent_directory&quot;: &quot;userfiles&quot;
}
</code></pre>

<h4 id="key-option-country">key option <code>country</code><a class="headerlink" href="#key-option-country" title="Permanent link">&para;</a></h4>
<p>Even though <code>EU</code> is not supported in that list, you can add that as a valid value to indicate that your repository can be used in Europe.</p>
<p>This key can be a single value, or a list.</p>
<pre><code>&quot;country&quot;: [&quot;NO&quot;, &quot;SE&quot;, &quot;DK&quot;]
</code></pre>

<pre><code>&quot;country&quot;: &quot;NO&quot;,
</code></pre>

<h4 id="key-option-iot_class">key option <code>iot_class</code><a class="headerlink" href="#key-option-iot_class" title="Permanent link">&para;</a></h4>
<p>This is only for integrations.</p>
<p><a href="https://www.home-assistant.io/blog/2016/02/12/classifying-the-internet-of-things">Here you can use the same as Home Assistant uses</a></p>
<h2 id="versions">Versions<a class="headerlink" href="#versions" title="Permanent link">&para;</a></h2>
<p>If the repository uses GitHub releases, the tagname from the latest release is used to set the remote version. (**NB: just publishing tags is not enough, you need to publish releases)</p>
<p>If the repository does not use those, the 7 first characters of the last commit will be used.</p>
<h3 id="templates">Templates<a class="headerlink" href="#templates" title="Permanent link">&para;</a></h3>
<p>You can use Jijna2 templates to control what and how the info is displayed.
In addition to the default templates of Jijna these are added:</p>
<table>
<thead>
<tr>
<th>Template value</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>installed</td>
<td>True / False if it is installed.</td>
</tr>
<tr>
<td>pending_update</td>
<td>True / False if a update is pending.</td>
</tr>
<tr>
<td>prerelease</td>
<td>True / False if it's a pre release.</td>
</tr>
<tr>
<td>selected_tag</td>
<td>The selected version.</td>
</tr>
<tr>
<td>version_available</td>
<td>The latest available version.</td>
</tr>
<tr>
<td>version_installed</td>
<td>The installed version</td>
</tr>
</tbody>
</table>
<h4 id="examples">Examples<a class="headerlink" href="#examples" title="Permanent link">&para;</a></h4>
<h5 id="prerelease">Prerelease<a class="headerlink" href="#prerelease" title="Permanent link">&para;</a></h5>
<pre><code class="yaml">{% if prerelease %}
## NB!: This is a Beta version!
{% endif %}
</code></pre>

<p><img alt="beta" src="../../images/beta.png" /></p>
<h5 id="here-travel-time"><a href="https://github.com/eifinger/here_travel_time/blob/master/info.md">Here Travel Time</a><a class="headerlink" href="#here-travel-time" title="Permanent link">&para;</a></h5>
<pre><code class="yaml">{% if installed %}
# Changes as compared to your installed version:

## Breaking Changes

## Changes

## Features

{% if version_installed.replace(&quot;v&quot;, &quot;&quot;).replace(&quot;.&quot;,&quot;&quot;) | int &lt; 141  %}
- Added `mode: bicycle`
- Added `mode: publicTransportTimeTable` - Please look [here](https://developer.here.com/documentation/routing/topics/public-transport-routing.html) for differences between the two public modes.
{% endif %}
{% if version_installed.replace(&quot;v&quot;, &quot;&quot;).replace(&quot;.&quot;,&quot;&quot;) | int &lt; 142  %}
- Release notes are shown in HACS depending on your installed version
{% endif %}

## Bugfixes

{% if version_installed.replace(&quot;v&quot;, &quot;&quot;).replace(&quot;.&quot;,&quot;&quot;) | int &lt; 143  %}
- Fix for `mode: publicTransportTimeTable` returning `No timetable route found`
{% endif %}
---
{% endif %}
</code></pre>

<p><img alt="here" src="../../images/info_jinja_here.png" /></p>
<h3 id="some-examples-of-infomd-files">Some examples of <code>info.md</code> files<a class="headerlink" href="#some-examples-of-infomd-files" title="Permanent link">&para;</a></h3>
<h4 id="compact-custom-header"><a href="https://github.com/maykar/compact-custom-header/blob/1.0.4b9/info.md">Compact Custom Header</a><a class="headerlink" href="#compact-custom-header" title="Permanent link">&para;</a></h4>
<p><img alt="cch" src="../../images/info_cch.PNG" /></p>
<h4 id="lovelace-swipe-navigation"><a href="https://github.com/maykar/lovelace-swipe-navigation/blob/1.2.0/info.md">Lovelace Swipe Navigation</a><a class="headerlink" href="#lovelace-swipe-navigation" title="Permanent link">&para;</a></h4>
<p><img alt="swipe" src="../../images/info_swipe.PNG" /></p>
<h4 id="homeassistant-atrea"><a href="https://github.com/JurajNyiri/HomeAssistant-Atrea/blob/2.1/info.md">HomeAssistant-Atrea</a><a class="headerlink" href="#homeassistant-atrea" title="Permanent link">&para;</a></h4>
<p><img alt="Atrea" src="../../images/info_atrea.PNG" /></p>
<h3 id="want-to-add-your-repository-to-the-store-as-a-default">Want to add your repository to the store as a default?<a class="headerlink" href="#want-to-add-your-repository-to-the-store-as-a-default" title="Permanent link">&para;</a></h3>
<p><a href="../include_default_repositories">See here for how to add a custom repository.</a></p>
<h2 id="badges">Badges<a class="headerlink" href="#badges" title="Permanent link">&para;</a></h2>
<p>Tell your users that your repository can be tracked with HACS.</p>
<h3 id="default-repository">Default repository<a class="headerlink" href="#default-repository" title="Permanent link">&para;</a></h3>
<p><em>If your repository is in the default store.</em></p>
<p><a href="https://github.com/custom-components/hacs"><img alt="hacs_badge" src="https://img.shields.io/badge/HACS-Default-orange.svg?style=for-the-badge" /></a></p>
<pre><code>[![hacs_badge](https://img.shields.io/badge/HACS-Default-orange.svg?style=for-the-badge)](https://github.com/custom-components/hacs)
</code></pre>

<hr />
<p><a href="https://github.com/custom-components/hacs"><img alt="hacs_badge" src="https://img.shields.io/badge/HACS-Default-orange.svg" /></a></p>
<pre><code>[![hacs_badge](https://img.shields.io/badge/HACS-Default-orange.svg)](https://github.com/custom-components/hacs)
</code></pre>

<h3 id="custom-repository">Custom repository<a class="headerlink" href="#custom-repository" title="Permanent link">&para;</a></h3>
<p><em>If your repository can be added as a custom repository.</em></p>
<p><a href="https://github.com/custom-components/hacs"><img alt="hacs_badge" src="https://img.shields.io/badge/HACS-Custom-orange.svg?style=for-the-badge" /></a></p>
<pre><code>[![hacs_badge](https://img.shields.io/badge/HACS-Custom-orange.svg?style=for-the-badge)](https://github.com/custom-components/hacs)
</code></pre>

<hr />
<p><a href="https://github.com/custom-components/hacs"><img alt="hacs_badge" src="https://img.shields.io/badge/HACS-Custom-orange.svg" /></a></p>
<pre><code>[![hacs_badge](https://img.shields.io/badge/HACS-Custom-orange.svg)](https://github.com/custom-components/hacs)
</code></pre></div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js" defer></script>

        <div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="Keyboard Shortcuts Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Keyboard Shortcuts</h4>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
